/* 
font-family: 'Playfair Display', serif;
font-family: 'Cinzel', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
*/

nav {
    background-color: #FFFFFF;
}

nav, footer {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    /* border: 4px double black; */
    opacity: .8;
}

/* .homePageImg{
    border: 3px solid rgb(50,50,255);
} */

#contactCard{
    font-family: 'Cinzel', serif;
    color :white;
    background-image: url(../images/contactimage.jpg);
    height: 600px;
    width: 800px;
    border-radius: 2%;
}

form{
    text-align: left;
}

#contactForm{
    border-radius: 15%;
}
.form-control{
    width: 60%;
}
.userText{
    font-family: 'Lato', sans-serif;
}

.contactBtn{
    width: 29%;
    background-color: rgb(67, 160, 218);
}


.jumbotron{
    height:850px;
}

.homePageImg{
    border: 2px solid black;
    
}

#extraStyling{
    color:rgb(67, 160, 218);
}

#homeID{
    margin: 0px 10px 0px 10px;
    padding-left: 5%;
    padding-right: 5%;
}

body {
    font-family: 'Playfair Display', serif;
    background: #E9ECEF;
    text-align: center;
}

#rockyLogo{
    border-radius: 20%;
}
footer{
    position: none;
    left: 0;
    margin-bottom: -200px;
    width: 100%;
    background-color: #FFFFFF;
    color: black;
    opacity: .8;
    text-align: center;
}

.footerText{
    font-size: 10px;
}

.btn{
    border: 1px solid black;
    margin: 0px 15px 0px 15px;
    opacity: .8;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

/* mdbootstrap usage - https://mdbootstrap.com/plugins/jquery/gallery/ */
.gallery {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; 
    }
    .gallery .pics {
        -webkit-transition: all 350ms ease;
        transition: all 350ms ease; 
    }
    .gallery .animation {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); 
    }

    
    @media (max-width: 450px) {
        .gallery {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
            -webkit-column-width: 100%;
            -moz-column-width: 100%;
            column-width: 100%;
        }
    }
    
    @media (max-width: 400px) {
        .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
        }
    }