/* 
font-family: 'Playfair Display', serif;
font-family: 'Cinzel', serif;
font-family: 'Arapey', serif;
*/
nav {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

body {
    background: #202020;
}

#rockyLogo{
    border-radius: 20%;
}